:root {
    --primaryColor: #076297;
    --secondaryColor: #d1e6f0;
    --blue-color: rgb(0, 128, 255);
    --whiteColor: #fff;
    --blackColor: #222;
    --greyColor: #f5f5f5;
    --darkgreyColor: #dcdcdc;
    --gold: #cc9a33;
}
.hide{
    display: none;
}
.profile-data{
    position: fixed;
    background-color: var(--darkgreyColor);
    margin: 5% 50%;
    border-radius: 12px;
    width: 380px;
    padding: 20px;
}
.profile-data img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: 25%;
}
.profile-data .details{
    /* background-color: #cc9a33; */
    padding: 20px;
}
.profile-data .details div{
    margin-top: 5px;
    font-size: 15px;
    display: flex;
    /* background-color: #52626c; */
    align-items: center;
}
.details div i{
    color: var(--primaryColor);
    margin-right: 5px;
}
.edit a{
    border: 1px solid black;
    padding: 5px 20px;
    text-decoration: none;
    color:var(--primaryColor);
    margin-left: 35%;
    margin-top: 5px;
}
.set-schedule {
    background-color: var(--whiteColor);
    padding: 20px;
    margin: 20px 10px;
    border-radius: 8px;
    width: 100%;
}

.set-schedule h2 {
    color: var(--primaryColor);
}

.form-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: #cc9a33; */
    padding: 0 80px;
}

.set-schedule .input-field {
    /* background-color: red; */
    width: 300px;
}

.set-schedule .input-field label {
    color: var(--primaryColor);
    font-weight: 500;
}

.set-schedule .input-field input {
    font-size: 20px;
    border-radius: 6px;
    width: 200px;
    padding: 5px;
}

.time {
    /* background-color: #076297; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
}

.time div {
    margin: 10px;
}

.time div select {
    font-size: 20px;
    border-radius: 6px;
    color: var(--primaryColor);
    padding: 5px;
}

.set-btn {
    /* background-color: red; */
    margin-left: 45%;
    margin-top: 10px;
}

.set-btn input {
    padding: 5px 10px;
    border-radius: 6px;
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 500;
}